@import url('//fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('//fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@media (max-width: 720px) {
    html {
        font-size: 2.3vw;
    }
}

@media (min-width: 720px) {
    html {
        font-size: 12px;
    }
}

body {
    color: black;
    background: radial-gradient(circle at center, #222, black);
}

.row {
    margin-bottom: 3vw;
}

.logo {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    height: auto;
    overflow: hidden;
}

@media (max-width: 820px) {
    .row {
        text-align: justify;
    }
    .logo-z10 {
        max-width: 100vw;
        margin-top: calc(-5vw - 10px);
        margin-left: -5vw;
    }
    .logo-virtual {
        margin-top: -33vw;
        max-width: 70vw;
        margin-left: 50%;
        transform: translate(-50%, 10px);
    }
    .logo-gamejam {
        max-width: 100vw;
        margin-top: -20vw;
        margin-bottom: -10vw;
        margin-left: 50%;
        transform: translate(-54%);
        position: relative;
        z-index: 1;
    }
}

@media (min-width: 820px)
{
    .logo-z10 {
        max-width: 200px;
    }
    .logo-virtual {
        display: float;
        position: relative;
        top: -12px;
        left: -12px;
        z-index: 2;
        max-width: 150px;
    }
    .logo-gamejam {
        display: float;
        position: absolute;
        top: 50px;
        left: 90px;
        z-index: 1;
        max-width: 300px;
    }
}

.box {
    border: 5px solid black;
    background-color: rgba(32, 0, 32, 0.25);
    padding: min(20px, 7vw);
    -webkit-box-shadow: 15px 15px 8px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 15px 15px 8px 0px rgba(0,0,0,0.6);
    box-shadow: 15px 15px 8px 0px rgba(0,0,0,0.6);
}

.retro {
    font-family: 'VT323', monospace;
    font-size: 2.2rem;
    line-height: 1.8rem;
    color: #EED;
    text-shadow: 0 .1em 0 #000;
}

.larger {
    font-size: 2.4rem;
    line-height: 2.4rem;
}

.smaller {
    font-size: 1.6rem;
    line-height: 1.6rem;
}

.retro a {
    color: #FFB;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.backlink {
    text-align: right;
}

@media (min-width: 720px) {
    .backlink {
        margin-bottom: -16px;
    }
}

@media (max-width: 720px) {
    .backlink {
        margin-bottom: 2rem;
    }
}

ul {
    list-style: square outside none;
    margin-top: 6px;
    margin-left: -20px;
}

li.outer {
    margin-top: 24px;
    margin-bottom: 6px;
    font-size: 1.2em;
    color: rgb(5, 233, 138)
}

li {
    margin-left: max(-1vw, -10px);
    margin-bottom: 12px;
    font-size: .9em;
    color: #FFB;
}

.superimportant {
    animation: glowy 10s linear infinite;
  }

@keyframes glowy {
    0% {
        color: red;
    }
    50% {
        color: #FFDD88;
    }
    100% {
        color: red;
    }
}

.atari {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
}

.crazy1 {
    animation: goinglarge .6s linear infinite;
    text-align: center;
    vertical-align: middle;
    line-height: 3rem;
    font-family: 'Press Start 2P', cursive;
    max-width: 90vw;
}

.crazy2 {
    animation: goinglarge .421s linear infinite;
    text-align: left;
    vertical-align: middle;
    line-height: 3rem;
    font-family: 'Press Start 2P', cursive;
    max-width: 90vw;
}

.crazy3 {
    animation: goinglarge 1.31s linear infinite;
    text-align: right;
    vertical-align: middle;
    line-height: 3rem;
    font-family: 'Press Start 2P', cursive;
    max-width: 90vw;
}

@keyframes goinglarge {
    50% {
        font-size: 3rem;
    }
}